/*--General--*/

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    text-align: center;
    margin: 0;
    opacity: 0.9;
}

/*--Header--*/

header {
    height: 50px;
    width: 100%;
    display: block;
    background-color: black;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.tea-cozy-logo {
    height: 50px;
    padding-left: 10px;
    float: left;
}

.navbar {
    float: right;
    margin: 0px auto;
    display: inline-flex;
    background-color: #000;
    list-style-type: none;
}

.navbar a {
    height: 100%;
    display: table;
    float: left;
    padding: 10px 20px;
    color: #fff;
}

.navbar a li {
    display: table-cell;
    height: 100%;
    text-decoration: underline;
    color: #fff;
}

/*--Main--*/
#mission {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1rws6em*_ga*NjY2NDQwOTgyOC4xNjcxNTM5NTMy*_ga_3LRZM6TM9L*MTY5MDQ1MzIyNy4xMjkuMS4xNjkwNDUzMjYzLjAuMC4w);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    height: 700px;
    width: 100%;
    margin: 10px 30px;
    display: flex;
    
}

h2.our-mission, h4.our-mission {
    background-color: #000;
    flex-direction: column;
    color: seashell;
    align-items: center;
    justify-content: center;
    position:relative;
    vertical-align: middle;
    width: 100%;
    padding: 15px;
    margin: auto;
    top: 300px;
    flex-wrap: wrap;
    background-size: cover;
    
}

.our-mission {
    align-items: center;
}

/*--Tea of the Month--*/

.tea-container {
    display: inline-flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tea-type img {
    height: 200px;
    width: 300px;
    padding: 10px 10px;
}

/*--Locations--*/

.banner {
    
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1wd9lbp*_ga*NjY2NDQwOTgyOC4xNjcxNTM5NTMy*_ga_3LRZM6TM9L*MTY5MDk5MjU1OS4xMzkuMC4xNjkwOTkyNTU5LjAuMC4w);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    margin: 40px auto auto auto;
    padding-top: 85px;
}

.location-box-container {
    width: 70%;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;
}

.location-box {
    background-color: #000;
    padding: 15px;
    height: 250px;
    flex-basis: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
    min-height: 10;
    border: seashell dashed;
    
}
